.*.sw[po]
cll.xml
cll_preglossary.xml
xhtml/
xhtml.done
jbovlaste.xml
jbovlaste2.xml
xhtml-nochunks/
xhtml-nochunks.done
cll.epub
cll.mobi
cll.pdf
cll_processed_pdf.xml
cll_processed_xhtml.xml
xhtml_sections.done
xhtml_sections/
