body { }

.selbri {
  border-bottom: medium double black;
}
.sumti {
  border-bottom: thin solid black;
}

* { font-family: sans-serif; }
pre { font-family: monospace; }
hr { border: 0; border-top: 1px solid gray; }

a { text-decoration: none; }
a:link { color: #FF0000; }
a:visited { color: #900B09; }

table.phonetics { text-align: left; }
.phonetics th { padding-left: 20px; }
.phonetics td { padding-left: 20px; }
