body { }

.selbri {
  border-bottom: medium double black;
  font-family:monospace;
}
.sumti {
  border-bottom: thin solid black;
  font-family:monospace;
}

* { font-family: sans-serif; }

.c3 { font-family: serif; }

pre {
  background-color:#f2f2f2;
  font-family: monospace;
  padding: .4em;
}
pre a { font-family: monospace; }

hr { border: 0; border-top: 1px solid gray; }

a { text-decoration: none; }
a:link { color: #FF0000; }
a:visited { color: #900B09; }

table.phonetics { text-align: left; }
.phonetics th { padding-left: 20px; }
.phonetics td { padding-left: 20px; }

p { text-indent: 1em; }

div.nav-prev { float:left; }
div.nav-title { margin-left:auto;  margin-right:auto; width:33%; text-align:center; }
div.nav-next { float:right; }

div.nav-title-title { font-weight:bold; }
div.nav-title-link { font-style:italic; font-size:small; }
div.nav-section-name { font-style:italic; }
div.nav-section-link-next{ text-align:right; }
