@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Cousine);


* {
  font-family: 'EB Garamond', serif;
}


pre, .informaltable td {
  font-family: 'Cousine', monospace;
  font-size: medium;
}


body {
  font-size: 130%;
  color: #222;
  margin: 2em;
  width: 600px;
}


a {
  color: #0B486B;
  text-decoration: none;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}


hr {
  width: 30%;
  border: none;
  border-bottom: 5px dotted #222;
}

/*

  Example final generated interlinear-gloss-itemized structure

  FIXME: Does it actually need to be this complicated?  Maybe, for future proofing?

  <table class="interlinear-gloss-itemized-outer" id="id471125">
    <colgroup/>
    <tr>
      <td>
        <table class="interlinear-gloss-itemized-table-inner" id="id471131">
          <colgroup/>
          <tr class="interlinear-gloss-itemized-table-color-0">
            <td class="sumti">x1</td>
          </tr>
        </table>
        <table class="interlinear-gloss-itemized-table-inner" id="id471149">
          <colgroup/>
          <tr class="interlinear-gloss-itemized-table-color-1">
            <td class="elidable">cu</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

 */

.interlinear-gloss-itemized-outer table {
  empty-cells: hide;
  border: none;
}

.interlinear-gloss-itemized-table-inner tr {
  background: #E8EBEF;
  border: .5em solid #fff;
  padding: .5em;
  empty-cells: hide;
  border: none;
  margin-bottom: 1em;
}

.interlinear-gloss-itemized-table-inner td {
  text-align: left;
  margin-bottom: 1em;
}

.cmavo-list table {
  empty-cells: hide;
  border: none;
}

.cmavo-list td {
  /* TESTING ONLY: red */
  background: #FF4848;
  border: .5em solid #fff;
  padding: .5em;
  text-align: left;
}

.interlinear-gloss-itemized table {
  empty-cells: hide;
  border: none;
}

.interlinear-gloss-itemized td {
  /* TESTING ONLY: purple */
  background: #B000B0;
  border: .5em solid #fff;
  padding: .5em;
  text-align: left;
}

.interlinear-gloss table {
  empty-cells: hide;
  border: none;
}

.interlinear-gloss td {
  /* TESTING ONLY: blue */
  background: #6966D6;
  border: .5em solid #fff;
  padding: .5em;
  text-align: left;
}

.informaltable table {
  empty-cells: hide;
  border: none;
}

.informaltable td {
  /* TESTING ONLY: green */
  background: #01F33E;
  border: .5em solid #fff;
  padding: .5em;
  text-align: left;
}

.lujvo-making table {
  empty-cells: hide;
  border: none;
}

.lujvo-making td {
  /* TESTING ONLY: yellow */
  background: #DFDF00;
  border: .5em solid #fff;
  padding: .5em;
  text-align: left;
}

.lojbanization table {
  empty-cells: hide;
  border: none;
}

.lojbanization td {
  /* TESTING ONLY: brown */
  background: #B05F3C;
  border: .5em solid #fff;
  padding: .5em;
  text-align: left;
}

.elidable:after {
	content: "]";
}

.elidable:before {
    content: "[";
}

.selbri {
  font-weight: bold;
}

.sumti {
  text-decoration: underline;
}

table {
  float: left;
}

p {
  clear: left;
  float: none;
}

p.natlang {
  margin-left: 1em;
  font-weight: bold;
}

p.comment {
  margin-left: 1em;
}

