@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Cousine);


* {
  font-family: 'EB Garamond', serif;
}


pre, .informaltable td {
  font-family: 'Cousine', monospace;
  font-size: medium;
}


body {
  font-size: 130%;
  color: #222;
  margin: 2em;
  width: 600px;
}


a {
  color: #0B486B;
  text-decoration: none;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}


hr {
  width: 30%;
  border: none;
  border-bottom: 5px dotted #222;
}


.informaltable table {
  empty-cells: hide;
  border: none;
}

.informaltable td {
  background: #E8EBEF;
  border: .5em solid #fff;
  padding: .5em;
  text-align: center;
}

.elidable:after {
	content: "]";
}

.elidable:before {
    content: "[";
}

.selbri {
  font-weight: bold;
}

.sumti {
  text-decoration: underline;
}

table {
  float: left;
}

p {
  clear: left;
  float: none;
}

p.natlang {
  margin-left: 1em;
  font-weight: bold;
}

p.comment {
  margin-left: 1em;
}

.interlinear-gloss-itemized-outer {
  margin-left: 1em;
}

.interlinear-gloss-itemized-table-inner {
  margin-bottom: 1em;
}

/*
.example {
  border-style: dashed;
}
  */

/*
.interlinear-gloss-itemized-table-color-0 {
  background: #808080;
  height: 2em;
}

.interlinear-gloss-itemized-table-color-1 {
  background: #FFFFFF;
  height: 2em;
}
  */
