html {
  /* Modern Georgia-based serif stack, from http://css-tricks.com/snippets/css/font-stacks/ */
  font-family: 'Linux Libertine', Libertine, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 9pt;
  text-align: justify;
} 

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.example-contents {
  margin-left: 1em;
}

dl p, dl span {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

/* Very bare lists except in special cases */
ul.bullets {
  list-style-type: disc;
  padding: 0em;
  margin: 1em 0em 1em 3em;
}
ul.bullets * {
  padding: 0em;
  margin: 0em 0em 0em 0em;
}
ul.itemizedlist {
  list-style-type: none;
  padding: 0em;
  margin: 1em 0em 1em 1em;
}
ul.itemizedlist * {
  list-style-type: none;
  padding: 0em;
  margin: 0em 0em 0em 0em;
}

hr {
  width: 30%;
  border: none;
  border-bottom: 5px dotted #222;
}

.book > .titlepage div {
  width: 100%;
}

.book > .titlepage .title {
  font-size: 52pt;
  text-align: center;
  width: 100%;
}

.book > .titlepage .author {
  font-size: 16pt;
  text-align: center;
  width: 100%;
  margin-top: 5em;
}

.book > .titlepage hr {
  display: none;
}

br.example-break {
  display: none;
}

table {
  empty-cells: hide;
  border: none;
  border-collapse: collapse;
  margin-bottom: 0.4em;
}
table p, table span {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

table td, table th {
  padding: 0.2em;
  border-left: 1px dotted grey;
  border-right: 1px dotted grey;
  padding-right: 0.4em;
  padding-left: 0.4em;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.selbri {
  font-weight: bold;
}

tr.jbo {
  font-style: italic;
}
tr.gloss {
  font-weight: bold;
}
/*
.sumti {
  border-bottom: 2px solid black;
  text-align: center;
}
*/

/*
p.natlang {
  margin-left: 1em;
  font-weight: bold;
}
*/

.lojbanization span.comment::before {
  content: "("
}
.lojbanization span.comment::after {
  content: ")"
}
