html {
  /* Modern Georgia-based serif stack, from http://css-tricks.com/snippets/css/font-stacks/ */
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 9pt;
} 

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.example-contents {
  margin-left: 1em;
}

dl p, dl span {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

hr {
  width: 30%;
  border: none;
  border-bottom: 5px dotted #222;
}

table {
  empty-cells: hide;
  border: none;
  border-collapse: collapse;
}
table p, table span {
  margin: 0px;
  padding: 0px;
  text-align: left;
}
td {
  padding: 0.2em;
  padding-right: 1em;
}

.interlinear-gloss-itemized-outer table, .cmavo-list table, .interlinear-gloss-itemized table, .interlinear-gloss table, .informaltable table, .lujvo-making table, .lojbanization table {
  /*
  empty-cells: hide;
  border: none;
  */
}

.interlinear-gloss-itemized-table-inner tr {
  /*
  background: #E8EBEF;
  border: .5em solid #fff;
  padding: .5em;
  empty-cells: hide;
  border: none;
  margin-bottom: 1em;
  */
}

.interlinear-gloss-itemized-table-inner td {
  /*
  text-align: left;
  margin-bottom: 1em;
  */
}

  /*
   *
   * td stuff
   *
  border: .5em solid #fff;
  padding: .5em;
  text-align: left;
  */

.cmavo-list td {
  /* TESTING ONLY: red */
  background: #FF4848;
}

.interlinear-gloss-itemized td {
  /* TESTING ONLY: purple */
  background: #B000B0;
}

.interlinear-gloss td {
  /* TESTING ONLY: blue */
  background: #6966D6;
}


.informaltable td {
  /* TESTING ONLY: green */
  background: #01F33E;
}

.lujvo-making td {
  /* TESTING ONLY: yellow */
  background: #DFDF00;
}

.lojbanization td {
  /* TESTING ONLY: brown */
  background: #B05F3C;
}

.elidable:after {
	content: "]";
}

.elidable:before {
    content: "[";
}

.selbri {
  font-weight: bold;
}

.sumti {
  border-bottom: 2px solid black;
}

/*
p.natlang {
  margin-left: 1em;
  font-weight: bold;
}
*/

.lojbanization span.comment::before {
  content: "("
}
.lojbanization span.comment::after {
  content: ")"
}
