/********************
 * NB:
 *
 * Everything that happens here, including the import below, happens
 * *AFTER* /usr/lib/prince/style/xhtml.css
********************/

@import url("docbook2html.css");

// Avoid ligatures per http://www.princexml.com/forum/topic/1821/how-to-avoid-or-turn-off-ligatures
p { font-variant: prince-opentype(ccmp) }

/*********
special glyphs
{{{
*********/
p[lang="ko"] {
  font-family: Unifont;
}

p[lang="math"] {
  font-family: 'Linux Biolinum', 'Biolinum', 'DejaVu Sans';
}

/* Make sure that comments *inside* the special glyph natlang look normal */
span.comment {
  font-family: 'Linux Libertine', Libertine, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 9pt;
}
/****
}}}
****/

/*********
anchors/xrefs
{{{
*********/
div.toc a::after {
    content: leader('.') target-counter(attr(href), page);
}

a.xref::after {
    content: " (p. " target-counter(attr(href), page) ")";
}

/* Make links for printing look like normal text. */
a {
  color: black !important;
  text-decoration: none !important;
  /*
  TESTING: show non-handled a links in PURPLE
  background: #FF00FF;
  */
  /*
  text-decoration: none;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  */
}

div.toc a {
  color: black;
  background: white;
  text-decoration: none;
  border-bottom-style: none;
}

a.link, a.xref, a.glossterm {
  color: black;
  background: white;
  text-decoration: none;
  border-bottom-style: none;
}
/****
}}}
****/

/*********
examples
{{{
*/
div.example {
  page-break-inside: avoid;
  font-family: 'Linux Biolinum', 'Biolinum', 'DejaVu Sans';
  margin-top: 1em;
  margin-bottom: 1em;
}
/*
}}}
*/

/*********
glossaries / indices
{{{
*/
div.glossary {
  column-count: 2;
  font-size: 0.9em;
}

div.whole-index {
  column-count: 2;
  font-size: 0.9em;
}

.whole-index a.indexterm {
  content: target-counter(attr(href), page);
  color: black;
  background: white;
  text-decoration: none;
  border-bottom-style: none;
}


/* The index/glossary title spans the whole page, as does any preliminary verbiage */
.whole-index .titlepage * {
  column-span: all;
}
.whole-index > p {
  column-span: all;
}

.glossary .titlepage * {
  column-span: all;
}
.glossary > p {
  column-span: all;
}

.glossary dl {
  margin-top: 0px;
  margin-bottom: 0px;
}

.glossary dt {
  margin-top: 0px;
  margin-bottom: 0px;
}
.glossary dd {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2em;
}

.whole-index dl {
  margin-top: 0px;
  margin-bottom: 0px;
}

.whole-index dt{
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}
.whole-index dd {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0.8em;
}

.whole-index h3, .glossary h3 {
  display: none;
}


/* Allow flow of indexes; see http://www.princexml.com/forum/topic/2798/bad-page-breaks?p=1#13093 */
dt { page-break-after: auto !important }
dt + dd { page-break-before: avoid }

/*
}}}
*/

/*********
basic paragraph
{{{
*/
p {
    display: block;
    margin-top: .1em;
    margin-bottom: .1em;
}
div.section > p {
    text-indent: 2em;
}
/*
}}}
*/

/*********
h[12345] elements
{{{
*/
h1 {
  page-break-before: right;
  page-break-after: avoid;
  string-set: header content();
  prince-page-group: start;
  font-size: 16pt;
  margin: 10pt   0;
}
h2 {
  string-set: header content();
  font-size: 11pt;
  margin: 10pt   0;
}
/* Yes, absolute padding.  If you can think of something better to
 * put this stuff at the bottom of the page... */
h3.othercredit { padding-top: 180pt; }
/*
}}}
*/

/*********
Page structure, title pages, etc
{{{
*/

/* div.frontcover, div.halftitlepage, div.titlepage { page-break-before: right } */
div.imprint { page-break-before: always }
div.dedication, div.foreword, div.toc, div.preface, div.chapter, div.reference, 
div.appendix, div.bibliography, div.glossary, div.whole-index, div.colophon { 
  page-break-before: always 
}
div.backcover { page-break-before: left }

div.chapter, div.glossary, div.whole-index {
  page: chapter;
}

@page {
  margin: 13mm;
  margin-top: 17mm;
  margin-bottom: 17mm;
  size: 159mm 240mm;
  /* For overflow testing
   * border: 1px solid red;
   */
}


/* define default page and names pages: cover, blank, frontmatter */

@page chapter :left {
  @top-left {
    font-size: 10pt;
    text-align: center;
    font-weight: bold;
    content: "The Complete Lojban Language";
    vertical-align: bottom;
    margin-top: 13mm;
  }

  @bottom-left {
    font-size: 10pt;
    content: counter(page);
    vertical-align: top;
    margin-bottom: 13mm;
  }
}

@page chapter :right {
  @top-right {
    font-size: 10pt;
    text-align: center;
    font-weight: bold;
    content: string(header, first); 
    vertical-align: bottom;
    margin-top: 13mm;
  }

  @bottom-right {
    font-size: 10pt;
    content: counter(page);
    text-align: right;
    vertical-align: top;
    margin-bottom: 13mm;
  }
}

@page chapter:first {
  @top-right { content: normal }
  @bottom-right { content: normal }
}

/*
}}}
*/

table {
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

dl {
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
