body {
         font-family: luxi sans,sans-serif;
}

.screen {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #bbb;
        background-color: #eee;
        color: #000;   
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
}

.programlisting {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #bbb;
        /* programlisting *bad* for CLL; make it obvious */
        background-color: #000;   
        color: #000;   
        /*
        background-color: #ddd;
        color: #000;   
        */
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
}

.example {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #bbb;
        background-color: #ddd;
        color: #000;   
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
}

em[lang=jbo] {
  font-style: normal;
  font-family: monospace;
}

/*
.example-lojban {
  font-family: monospace;
  font-size: 1em;
  font-weight: bold;
}

.example-literalistic {
  font-style: italic;
  font-size: 1em;
}

.example-final {
  font-size: 1em;
  font-weight: bold;
}
*/

div.informaltable table {
        border-style: none;
        border-collapse: collapse;
}

div.informaltable td {
        padding: 15px;
        border: 1px solid #000;
}

I'm broken!!!!
